@tailwind base;
@tailwind components;
@tailwind utilities;

body {
    background-image: url("/media/images/main-bg.png");
    background-repeat: no-repeat;
    background-attachment: fixed;
    background-position: center;
    background-size: cover;
}